 <h2>Here are your reservations... </h2>
 <table class="table">
    <% @user.reservations.each do |reservation| %>
      <tr>
        <td> Address <%= reservation.room.address %></td>
        <% if reservation.start_date %>
        <td> Start Date <%= reservation.start_date.strftime("%B %d, %Y")%></td>
        <% end %>
        <% if reservation.end_date %>
        <td> End Date <%= reservation.end_date.strftime("%B %d, %Y")%></td>
        <% end %>
        <td> Price $<%= reservation.price %></td>
        <td><%= link_to 'Destroy', room_reservation_path(reservation.room, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>