<table class="table">

	<% @rooms.each do |room| %>

		<h2> Address: <%=room.address %></h2>
		<p> Summary: <%=room.summary %></p>
		<p> Price: $ <%=room.price %>/SF</p>
		<p><%= image_tag room.photos.first.image.url(:med) if room.photos.length > 0 %>
		</p>

		<br>

		<p><%= link_to "Book Reservation", new_room_reservation_path(room) %></p>
		<p><%= link_to "Update Listing", edit_room_path(room) %></p>

		<hr>

	<% end %>
</table>








