<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>OfficeSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>
<!-- 
  <div class="nav">
    <%# if current_user %>
      <p> hello, <%#= current_user.email %> </p>
      <%#= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %>
    <%# else %>
      <%#= link_to 'Please login', login_path %>
    <%# end %>
  </div> -->

<div class="container">
<%= yield %>

</div>

</body>
</html>
