<!DOCTYPE html>
<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <title>OfficeSpace</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

  <body>
    <%= render 'shared/navbar' %>
    <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
      <%= message %>
      </div>
      <% end %>
      
      <div class="container">
      <%= yield %>
      </div>
  </body>
</html>
